body{
    background-color: #FDF5E6;
}

h1,h2,p{ 
    font-family: 'Esteban', serif; 
}

h1,h2,p,.LoupAgneau{
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
img{
    border: 5px solid #555;
}